<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MbLux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MbLux.Properties.Settings>
            <setting name="cinaPluta1Cina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cinaPluta2Cina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stilnica28Cina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stilnica38Cina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fasadCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pcvCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="aluCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="povnyjVusyvNapravCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="zvychajniNapravCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cargoCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rychkiCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nogiKuhonniCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="shyryp3_5Cina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="konfirmatCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="zavisCina" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="karizCina" serializeAs="String">
                <value>1</value>
            </setting>
        </MbLux.Properties.Settings>
    </userSettings>
</configuration>